@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito.ttf');
}
.tumbler_btn {
    -fx-pref-width: 36;
    -fx-pref-height: 36;
    -fx-background-radius: 50%;
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 50%;
    -fx-cursor: hand;
}
.tumbler_btn:hover {
    -fx-background-color: #d4d4d4;
}
.active {
    -fx-background-color: gray;
}
.startBtn {
    -fx-text-fill: white;
    -fx-background-color: orange;

}
.startBtn:hover {
    -fx-background-color: orangered;
    -fx-cursor: hand;
}
* {
    -fx-font-family: 'Nunito';
    -fx-font-size: 16;
    -fx-font-weight: bolder;
}