/*.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #3f474f;
}

.table-view .column-header-background .label{
    -fx-background-color: #30363D;
    -fx-border-color: #3f474f transparent #3f474f transparent;
    -fx-border-width: 3;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-border-color: #3f474f;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #3f474f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}*/
.table-view{
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: #30363D;
}
.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #00b2ed;
}

.table-view .column-header-background .label{
    -fx-background-color: #30363D;
    -fx-border-color: #00b2ed transparent #00b2ed transparent;
    -fx-border-width: 3;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-border-color: #00b2ed;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #3f474f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
